<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Establecer Conexión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>ESTABLECER CONEXIÓN CON MÓVIL</h1>

    <div class="conexion-container">
        <form action="/crear_conexion" method="post">
            <button class="crear-btn" type="submit">CREAR CONEXIÓN</button>
        </form>

        <div class="estado">
            <span>OFF</span>
            <div class="switch-indicador off"></div>
            <span>ON</span>
        </div>
    </div>
</body>
</html>
